* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100%;
    height: 904px;
    overflow-x: hidden;
    gap: 24px;
    background-color: black;
    flex-direction: row;
    padding: 24px;
}

.container {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.frame {
    display: flex;
    background-color: white;
    border-radius: 25px;
}

#f1 {
    background-image: url("./assets/f1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 50%;
}

#f2 {
    background-image: url("./assets/f2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 50%;
}

#f3 {
    background-image: url("./assets/f3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 50%;
}

#c2\.1 {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: row;
}

#c2\.1\.1 {
    width: 50%;
}

#f4 {
    background-image: url("./assets/f4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 50%;
    height: 100%;
}

#f5 {
    background-image: url("./assets/f5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 50%;
}

#f6 {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-family: "Gill Sans", sans-serif;
    font-size: 36px;
    font-weight: bold;
    padding-left: 24px;
    padding-right: 24px;
}

#f7 {
    background-image: url("./assets/f7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 33%;
}

#f8 {
    background-image: url("./assets/f8.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 33%;
}

#f9 {
    background-image: url("./assets/f9.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 33%;
}

@media (max-width: 700px) {
    body {flex-direction: column;}
    
    .container {
        width: 100%;
        height: 33%;
    }
    
    .frame {border-radius: 15px;}
    
    #c2\.1\.1 {
        width: 50%;
        height: 100%;
    }
    
    #f1 {background-image: url("./assets/f1p.jpg");}
    
    #f2 {background-image: url("./assets/f2p.jpg");}

    #f3 {background-image: url("./assets/f8.jpg");}

    #f4 {background-image: url("./assets/f4p.jpg");}

    #f6 {
        height: 100%;
        font-size: 20px;
        padding: 16px;
    }

    #f7 {height: 100%;}
    
    #f5 {display: none;}
    
    #f8 {display: none;}

    #f9 {display: none;}
}
